@font-face {
    font-family: nazanin;
    src: url(../assets/fonts/BNazanin.ttf);
}
body {
    direction: rtl;
    font-family: 'nazanin';
}
.ltr {
    font-family: sans-serif;
    direction: ltr;
}
